# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Virtual environment
venv/
env/
ENV/
.venv/

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp

# OS-Specific files
.DS_Store
Thumbs.db

# IDE-specific
.idea/
*.sublime-project
*.sublime-workspace


# database files
*.sqlite3
.db